<template>
  <div>
    <h1>Uh-Oh!</h1>
    <h3>
      It looks you-re experiancing some network issues, please clik the back
      button and try again.
    </h3>
    <router-link :to="{ name: 'event-list' }"
      >Or go back to the event list</router-link
    >
  </div>
</template>
