<template>
  <div>
    <v-select
      :options="options"
      label="title"
      v-model="selected"
      @change="emitData"
    >
    </v-select>
  </div>
</template>
<script>
import vSelect from 'vue-select'
export default {
  data() {
    return {
      selected: ''
    }
  },
  props: {
    options: {}
  },
  components: {
    vSelect
  },
  methods: {
    emitData: function() {
      this.$emit('custom-select', { data: this.selected })
    }
  }
}
</script>
